:block(tabs){
    &:elem(nav) {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    &:elem(nav-item) {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;

        &:hover {
            background-color: #ddd;
        }

        &:mod(active) {
            background-color: #ccc;
        }
    }

    &:elem(content){
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        animation: fadeEffect 1s;

        &:mod(active) {
            display: block;
        }
    }
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
