body{
    font-family: Arial, sans-serif;
    background-color: #efefef;
}
.service{
    background-color: #f5f8fa;
    padding-top: 45px;
}
.service__container{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
.service__header{
    box-sizing: border-box;
    width: 100%;
    margin: 0 16px 40px 16px;
}
.service__item{
    box-sizing: border-box;
    max-width: calc(33.333% - 32px);
    -ms-flex-preferred-size: calc(33.333% - 32px);
        flex-basis: calc(33.333% - 32px);
    padding: 16px 37px 16px 16px;
    height: 85px;
    border: 1px solid #e1e4e7;
    background-color: #fff;
    margin: 2px 16px 13px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
}
.service__item:before{
    position: absolute;
    right: 16px;
    content: '';
    display: inline-block;
    background: url('img/arrow.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}
.service__item_active{
    border: 3px solid #3887bb;
    padding: 14px 35px 14px 14px;
    color: #136499;
}
.service__item_active.service__item:before{
    right: 14px;
    background: url('img/arrow-active.png');
}
.service__title{
    font-size: 15px;
    line-height: 22px;
}
.service__icon{
    margin-right: 5px;
    width: 40px;
    height: 40px;
}
.service__image{
    max-width: none;
}
.service__notification{
    box-sizing: border-box;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 30px 21px 40px 21px;
}
.service__info{
    display: none;
}
.service__action{
    margin-top: 30px;
}
.service__bnt{
    width: 390px;
}
.service .list__item{
    font-size: 18px;
    line-height: 24px;
    font-family: Arial;
    background: url('img/list-icon.png') no-repeat left top 6px;
    padding-left: 30px;
    margin-bottom: 6px;
    list-style: none;
}
.service .title{
    color: #070707;
    position: relative;
}
.service .title_light{
    font-family: Arial;
}
.service .title_medium{
    font-family: Arial;
}
.service .title_size_medium{
    font-size: 24px;
    padding-bottom: 30px;
    line-height: 33px;
}
.service .title_size_big{
    font-size: 45px;
    color: #070707;
    position: relative;
    padding-top: 21px;
    line-height: 33px;
}
.service__header .title:before{
    content: '';
    width: 54px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #487ed3;
}
.service__header .subtitle{
    color: #37373a;
    font-size: 18px;
    margin-top: 16px;
    display: block;
}
@media (max-width: 1023px) {
    .service__item{
        max-width: calc(50% - 32px);
        -ms-flex-preferred-size: calc(50% - 32px);
            flex-basis: calc(50% - 32px);
    }
}
@media (max-width: 667px) {
    .service__item{
        max-width: calc(100% - 32px);
        -ms-flex-preferred-size: calc(100% - 32px);
            flex-basis: calc(100% - 32px);
    }
    .service__bnt{
        width: 270px;
        font-size: 13px;
    }
}
